extends layout

block content
	nav(class="navbar navbar-default navbar-fixed-top" ng-controller="AuthController as authCtrl")
		div(class="container")
			div(class="navbar-header")
				a(class="navbar-brand" href="/") Alpha news
			form(class="navbar-form navbar-right" role="logon" ng-hide="authCtrl.authenticated()")
				div(class="form-group")
					input(type="text" class="form-control" placeholder="Email")
					input(type="password" class="form-control" placeholder="Password")
				button(type="submit" class="btn btn-default") Submit
	div(class="container")
		div(class="row" ng-controller='FeedController as feedCtrl')
			feed(posts='feedCtrl.posts')

