extends layout

block content
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				h1 Alpha News
		div(class="row" ng-controller='FeedController as feedCtrl')
			feed(posts='feedCtrl.posts')

