extends layout

block content
    div(class="container" ng-controller="PostController as postCtrl")
        div(class="row")
            div(class="col-md-12")
                h1
                    a(href="{{postCtrl.post.url}}") {{postCtrl.post.title}}
            div(class="col-md-12 ")
                form(ng-submit="postCtrl.addComment(reply)")
                    div(class="form-group")
                        textarea(class="form-control" rows="3" ng-model="reply")
                        button(type="submit" class="btn btn-default") Add comment
            div(class="col-md-12")
                reply-list(replies='postCtrl.post.replies')
    script.
        var post_id = '#{id}'

